html {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
}

body {
}

main {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@media (min-width: 520px) {
  body {
    background-image: radial-gradient(rgb(198, 198, 198) 1px, transparent 1px),
      radial-gradient(rgb(198, 198, 198) 1px, transparent 1px);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    position: initial;
    height: 95vh;
    aspect-ratio: 9/16.69;
    outline-style: solid;
    outline-width: 8px;
    outline-color: black;
    border-radius: 1rem;
  }
}
